.edit-product {
    padding: 20px;
}

.edit-product .title-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-product .product-info {
    display: flex;
    margin-top: 20px;
}

.edit-product .product-info .show {
    flex: 1;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 1);
}

.edit-product .product-info p {
    margin-bottom: 20px;
    font-size: 20px;
    color: gray;
}

.edit-product .product-info .top {
    display: flex;
    align-items: center;
}

.edit-product .product-info .top img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-product .product-info .top .info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.edit-product .product-info .top .info span {
    margin-bottom: 10px;
    font-size: 20px;
}

/* .edit-product .product-info .top .info ul {
    margin-bottom: 10px;
} */

.edit-product .product-info .top .info ul p {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.edit-product .product-info .update {
    flex: 1.5;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 1);
}

.edit-product .product-info .update form {
    display: flex;
}

.edit-product .product-info .update .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-product .product-info .update .left .field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.edit-product .product-info .update .left .field label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.edit-product .product-info .update .left .field input {
    padding: 5px;
    font-size: 16px;
    width: 400px;
    border: none;
    border-bottom: 1px solid lightgrey;
    transition-duration: 0.3s;
}

.edit-product .product-info .update .left .field input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.edit-product .product-info .update .right button {
    height: 40px;
    width: max-content;
    min-width: 120px;
    background-color: limegreen;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.edit-product .product-info .update .right button:hover {
    background-color: green;
    border: 1px solid black
}

.edit-product form .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.edit-product form .right label {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}