.pl-ctn {
    text-align: center;
}

.pl-ctn .filter-ctn {
    border-top: 1px solid black;
    display: flex;
    margin: 0px 0 20px 0;
    padding: 0 10px 0 10px;
    justify-content: space-between;
}

.pl-ctn .filter-ctn .filter {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.pl-ctn .filter-ctn .filter .manu-ctn,
.pl-ctn .filter-ctn .filter .search-ctn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pl-ctn .filter-ctn .filter span,
.pl-ctn .search-ctn  span {
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}

.pl-ctn .filter-ctn .filter select {
    padding: 10px;
    margin-right: 20px;
}

.pl-ctn .search-ctn .search {
    border: 1px solid grey;
    height: 24px;
    width: 400px;
    padding-left: 10px;
    font-size: 16px;
}

.pl-ctn .search-ctn .search-icon {
    border: 1px solid grey;
}

.pl-ctn .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: max-content;
    min-height: 300px;
    background-color: darkblue;
}

.pl-ctn .products-list .product-ctn {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 5px 10px 5px;
    height: 440px;
    width: 390px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    transition-duration: 0.5s;
}

.pl-ctn .products-list .product-ctn:hover {
    background-color: royalblue;
    color: white;
}

.pl-ctn .products-list .product-ctn img {
    width: 370px;
    height: 340px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.pl-ctn .products-list .product-ctn .info-ctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.pl-ctn .products-list .product-ctn .info-ctn h4 {
    margin-bottom: 10px;
    font-size: 21px;
    cursor: pointer;
}

.pl-ctn .products-list .product-ctn .info-ctn p {
    font-size: 18px;
    font-weight: 600;
}