.register-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../style/login-page.jpg'); 
}

.register-ctn .wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
}

.register-ctn .router-ctn {
    top: 2%;
    right: 2%;
    position: absolute;
}

.register-ctn .home-ctn {
    top: 2%;
    left: 2%;
    position: absolute;
}

.register-ctn .router-ctn button,
.register-ctn .home-ctn button {
    width: max-content;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    color: darkviolet;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.register-ctn .router-ctn button:hover {
    background-color: khaki;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.8);
}

.register-ctn .router-ctn span {
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

/* .register-ctn .wrapper h1 {
    font-size: 24px;
    font-weight: 300;
} */

.register-ctn .wrapper form{
    height: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.register-ctn .wrapper form input {
    flex: 1;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
}

.register-ctn .wrapper form label {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.register-ctn .wrapper form p{
    font-size: 16px;
    margin: 20px 0px;
}

.register-ctn .wrapper form a {
    cursor: pointer;
}

.register-ctn .wrapper form button {
    margin-top: 10px;
    width: 102%;
    border: hidden;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: steelblue;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.3s;
}

.register-ctn .wrapper form button:hover {
    border: 1px solid black;
    background-color: darkblue;
}

.register-ctn .wrapper form button:disabled {
    opacity: 0.5;
}